body {
	background: #191919;
}
a {
	color: #822
}
p {
	color: #888;
}
#wrapper {
	background: #090909;
}
#wrapper #radio-gramola-info {
	background: #191919;
	border-color: #333;
}
#div-neg,
#div-pos {
	background: #333;
}
#firefox-add-on,
#lletra-link,
.box,
#wrapper #lletra,
#anterior,
#seguent {
	background: #333;
}
#wrapper > #content {
	color: #555;
}
#wrapper > #content p {
	color: #000;
}
